body {
	margin-top: 1.2em;
	margin-left: 5vw;
}

#wrap {
	position: relative;
}

.left {
	float: left;
}

#text,
#type_area {
	font: 16px/24px sans-serif;
}
#text {
	color: #000;
	white-space: pre-wrap;
	margin-bottom: 1em;
	max-width: 34em;
}
#text:focus {
	outline: none;
}
del {
	background: hsl(0, 80%, 59%);
	color: #FFFEAB;
	text-decoration: none;
}
ins {
	color: #3F5A00;
	background: hsl(115, 100%, 88%);
	text-decoration: none;
}
#done, .done {
	color: #CCC;
}
.done + .undone::before {
	content: '';
	overflow: hidden;
	width: 0;
	display: inline;
	vertical-align: baseline;
	position: relative;

	outline: 1px solid hsla(205, 100%, 50%, 0.9)
	/*animation-duration: 1s;*/
	/*animation-name: cursor-blink;*/
	/*animation-iteration-count: infinite;*/
}
.done > .undone::before {
	display: none;
}
.done > .undone {
	/*TODO: this should be fixed in JS */
	border-left-width: 0;
}
#undone, .current {
	border-left: 1px solid #999;
	/*margin-right: -1px;*/
}
#edit {
	margin-bottom: .8em;
}

.chunk {
	position: relative;
	z-index: 9;
}

#errors, #deck {
	float: left;
	font: 12px/1.2 sans-serif;
}


#type_area {
	display: none;
}
.edit-on #type_area {
	display: inline-block;
	width: 34em
}

@keyframes cursor-blink {
	from {outline: 1px solid hsla(205, 100%, 50%, 0.9)}
	to   {outline: 1px solid hsla(205, 100%, 50%, 0.6)}
}
