body {
	padding: 1em;
	/* -webkit-user-modify: read-write-plaintext-only; */
}

#wrap {
	position: relative;
}

#text,
#type_area {
	font: 16px/24px sans-serif;
}
#text {
	color: #000;
	white-space: pre-wrap;
	margin-bottom: 1em;
}
#text:focus {
	outline: 1px solid #c8daee;
}
del {
	background: red;
	color: white;
	text-decoration: none;
}
#done, .done {
	color: #CCC;
}
.done + .undone {
	border-left: 1px solid rgba(0,0,0,.8);
}
#undone, .current {
	border-left: 1px solid #999;
	/*margin-right: -1px;*/
}
#edit {
	position: absolute;
	right: 0;
	top: 0;
}

.chunk {
	position: relative;
	z-index: 9;
}

#errors, #deck {
	float: left;
}


#type_area {
	display: none;
}
.edit-on #type_area {
	display: inline-block;
}