body {
	padding: 1em;
	/* -webkit-user-modify: read-write-plaintext-only; */
}

#wrap {
	position: relative;
}

.left {
	float: left;
}

#text,
#type_area {
	font: 16px/24px sans-serif;
}
#text {
	color: #000;
	white-space: pre-wrap;
	margin-bottom: 1em;
	max-width: 34em;
}
#text:focus {
	outline: 1px solid #c8daee;
}
del {
	background: red;
	color: white;
	text-decoration: none;
}
ins {
	color: rgb(0, 224, 0);
}
#done, .done {
	color: #CCC;
}
.done + .undone::before {
	content: '';
	line-height: 1.2em;
	overflow: hidden;
	width: 0;
	display: inline;
	vertical-align: middle;
	outline: 1px solid hsla(205, 100%, 50%, 0.9);
	margin-top: -3px;
}
.done > .undone::before {
	display: none;
}
.done > .undone {
	/*TODO: this should be fixed in JS */
	border-left-width: 0;
}
#undone, .current {
	border-left: 1px solid #999;
	/*margin-right: -1px;*/
}
#edit {
	margin-bottom: .8em;
}

.chunk {
	position: relative;
	z-index: 9;
}

#errors, #deck {
	float: left;
	font: 12px/1.2 sans-serif;
}


#type_area {
	display: none;
}
.edit-on #type_area {
    display: inline-block;
    width: 34em
}